flasky-venv/*
.venv/*
.idea/*
*.iws
*/*/database.db
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
*.iml
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg